header {
  background-color: red;
  padding: 20px;
}

.movies-txt {
  font-size: 0.7cm;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  position: relative;
  right: 30px;
}

.reviews-txt {
  font-size: 0.7cm;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#movie-list > img {
  width: 50%;
  padding: 50px;
  object-fit: cover;
  object-position: center;
}

.info-box {
  background-color: red;
  color: white;
  padding: 2px;
}

#movie-info {
  margin: 2%;
}

.info-box > li {
  padding: 5px;
  font-size: 0.5cm;
}

#movie-banner {
  width: 30%;
  margin-left: 35%;
}

#back-btn {
  background-color: red;
  color: white;
  margin-left: 2.5%;
  font-size: 0.5cm;
  width: 80px;
  height: 35px;
  border: none;
}

#add-review-btn {
  background-color: red;
  color: white;
  margin-right: 2.5%;
  font-size: 0.5cm;
  width: 120px;
  height: 35px;
  border: none;
}

#info-button {
  justify-content: space-between;
}

p {
  color: white;
  font-style: bold;
  font-size: 0.5cm;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1cm;
  text-align: center;
}

.no-reviews-txt {
  text-align: center;
  font-size: 0.8cm;
  margin-top: 8%;
}

textarea {
  color: black;
  font-size: 0.4cm;
  border: 5px solid red;
  margin-top: 10px;
}

#review-txt {
  width: 60%;
  height: 250px;
}

#review-image {
  width: 20%;
}

.center {
  text-align: center;
}

.new-review-txt {
  font-size: 0.6cm;
  position: relative;
  right: 26%;
}

#review-submit {
  background-color: red;
  color: white;
  float: right;
  margin-top: 3px;
  width: 75px;
  height: 35px;
  font-size: 0.5cm;
  position: relative;
  right: 20%;
  border: none;
}

h4 {
  text-align: left;
  margin: 0 auto;
  font-size: 0.7cm;
  padding-top: 10px;
}

.review-list-p {
  text-align: left;
  margin: 0 auto;
  font-size: 0.4cm;
  padding-top: 15px;
}

ul {
  list-style-type: none;
}

.reviews-li {
  padding-top: 5%;
  padding-bottom: 5%;
}
