header {
  background-color: red;
  padding: 20px;
}

.movies-txt {
  font-size: 0.7cm;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  margin-left: 50px;
}

.reviews-txt {
  font-size: 0.7cm;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

#movie-list > img {
  width: 50%;
  padding: 50px;
  object-fit: cover;
  object-position: center;
}

.info-box {
  background-color: red;
  color: white;
  padding: 2px;
}

#movie-info {
  margin: 2%;
}

.info-box > li {
  padding: 5px;
  font-size: 0.5cm;
}

#movie-banner {
  width: 30%;
  margin-left: 35%;
}

#back-btn {
  background-color: red;
  color: white;
  margin-left: 2.5%;
  font-size: 0.5cm;
  width: 80px;
  height: 35px;
  border: none;
}

#add-review-btn {
  background-color: red;
  color: white;
  margin-right: 2.5%;
  font-size: 0.5cm;
  width: 120px;
  height: 35px;
  border: none;
}

#info-button {
  justify-content: space-between;
}

p {
  color: white;
  font-style: bold;
  font-size: 0.5cm;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1cm;
  text-align: center;
}

.no-reviews-txt {
  text-align: center;
  font-size: 0.8cm;
  margin-top: 8%;
}

textarea {
  color: black;
  font-size: 0.4cm;
  border: 4px solid red;
  margin-top: 10px;
}

#review-txt {
  width: 60%;
  height: 250px;
}

#review-image {
  width: 20%;
}

.center {
  text-align: center;
}

.personal-review-txt {
  font-size: 0.6cm;
  margin-right: 50%;
}

#review-submit {
  background-color: red;
  color: white;
  float: right;
  margin-top: 3px;
  width: 75px;
  height: 35px;
  font-size: 0.5cm;
  position: relative;
  right: 20%;
  border: none;
}

#review-delete {
  background-color: red;
  color: white;
  float: left;
  margin-top: 3px;
  width: 75px;
  height: 35px;
  font-size: 0.5cm;
  position: relative;
  left: 20%;
  border: none;
}

.space-between {
  justify-content: space-between;
}

h4 {
  text-align: left;
  margin: 0 auto;
  font-size: 0.7cm;
  padding-top: 10px;
}

.review-list-p {
  text-align: left;
  margin: 0 auto;
  font-size: 0.4cm;
  padding-top: 15px;
  margin-right: 150px;
}

ul {
  list-style-type: none;
}

.reviews-li {
  padding-top: 5%;
  padding-bottom: 5%;
}

#edit-btn {
  background-color: red;
  color: white;
  font-size: 0.5cm;
  width: 60px;
  height: 35px;
  border: none;
  float: right;
  margin-right: 10%;
}

.gradient {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
}

#confirm-modal {
  background-color: white;
  width: 350px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

#confirm-txt {
  color: black;
  text-align: center;
  padding-top: 30px;
}

.no-btn {
  background-color: red;
  margin-left: 20%;
  margin-top: 30px;
  width: 50px;
  font-size: 0.4cm;
  border: none;
}

.yes-btn {
  background-color: red;
  margin-right: 20%;
  margin-top: 30px;
  width: 50px;
  font-size: 0.4cm;
  border: none;
}

.not-visible {
  visibility: hidden;
}
